body {
  font-family: sans-serif;
  background-color: #F0F8FF;
}

a {
  text-decoration: none;
  color: #006600
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
