body {
  font-family: sans-serif;
  background-color: #222930;
}

a {
  text-decoration: none;
  color: #4EB1BA
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
